:root {
  --backgroundColor: #070F2B;
  --mainColor: #1B1A55;
  --secondaryColor: #535C91;
  --fontColor: #f2f4f9;
  --extraColor: #9290C3;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: content-box;
  margin: 0;
  padding: 5px;

  font-size: 1.7em;
  color: var(--fontColor);

  background-color: var(--backgroundColor);
}

.header-container{
  font-size: 1.3em;
  display: flex;

  flex-flow: column wrap;
  align-content: center;
  text-align: center;
  margin: 10px auto ;
}

.header-container h1, .header-container p {
  margin: 12px;
}

#app_form {
  display: flex;
  width: 60svw;
  height: fit-content;
  margin: auto;
  flex-flow: column wrap;
  align-content: center;
  justify-content: flex-start;
  padding: 6px;

  background-color: var(--mainColor);
  border-radius: 15px;
}

.form_data, .app-label {
  width: 80%;
}
.app-label {
  width: fit-content;
}

#app_title {
  font-size: 1em;
}

textarea {
  resize: none;
  overflow: visible;
  font-size: .65em;

  &::-webkit-scrollbar {
    padding: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--extraColor);
    border-radius: 2px 10px 10px 2px ;
    margin: 0;
  }

}

#app_submit {
  margin: 5px auto 0 auto;
  width: 30%;
  height: fit-content;

  &:hover {
    cursor: pointer;
  }
}

#app_submit, .form_data {
  background: var(--secondaryColor);
  color: var(--fontColor);

  border: 2px solid var(--secondaryColor);
  border-radius: 10px;

  &:focus-visible {
    outline: none;
    border-color: var(--extraColor);
  }
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: var(--mainColor);
  border-radius: 15px;

}


/* THIS IS THE STYLE FOR THE LI ELEMENTS ADDED TO THE UL LIST FROM THE JAVASCRIPT FILE */

.list-item {
  flex-flow: column nowrap;
  text-align: left;
  box-sizing: content-box;
  width: 30%;
  height: 450px;
  margin: 5px;
  padding: 15px;

  font-size: .9em;

  background-color: var(--secondaryColor);
  border-radius: 15px;

}

.task-title, .task-content {
  display: block;
  margin: 10px 0;
}

.task-title {
  font-size: 1.2em;
}

.task-content {
  font-size: .8em;
  height: fit-content;
  max-height: 45%;
  overflow: clip;
}

.list-item-date_stamp {
  font-size: .6em;
}


.delete-button {
  background-color: var(--mainColor);
  color: var(--fontColor);
  border-radius: 15px;
  border: 2px solid var(--mainColor);
  width: 70px;
  height: 40px;
}